<!-- Edit format -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"><!-- thymeleaf! -->
<head>
	<title>Record store - Edit format</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	<!-- header -->
	<nav class="navbar navbar-inverse bg-dark fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand text-light" th:href="@{/recordlist}" style="font-size:25px;">Record store</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	    	<li class="nav-item">
	    		<a sec:authorize="isAuthenticated()" sec:authorizeaccess="hasAnyRole('USER', 'ADMIN')" th:href="@{/orderlist}" style="padding: 45px 0px 45px 0px;">
	    			<button class="btn btn-primary">My orders</button>
	    		</a>
	    		<a th:href="@{/shoppingcart}" style="padding: 45px 0px 45px 0px;">
	    			<button class="btn btn-primary">Shopping Cart</button>
	    		</a>
	    		<!-- Sign in / Sign out -->
	    		<form sec:authorize="isAuthenticated()" sec:authorizeaccess="hasAnyRole('USER', 'ADMIN')" th:action="@{/logout}" method="post" style="margin: 0; padding: 0; display: inline;">
		     		<span><input type="submit" value="Sign Out" class="btn btn-primary" /></span>
		     	</form>
		     	 <form sec:authorize="isAnonymous()" th:href="@{/login}" method="post" style="margin: 0; padding: 0; display: inline;">
		     		<span><input type="submit" value="Sign in" class="btn btn-primary" /></span>
		     	</form>
	    	</li>
	    </ul>
	  </div>
	</nav>
	
	<!-- container -->
	<div class="container" style="margin-top: 4%;">
		<h1>Edit format</h1>
		<form th:object="${editFormat}" action="#" th:action="@{/editformat/{id}}" method="post">
			<div class="form-group">
				<label for="id">Id</label>	<!-- ID! -->
				<input type="text" id="formatId" th:field="*{formatId}" class="form-control" readonly/>
				<p th:if="${#fields.hasErrors('formatId')}" th:errors="*{formatId}">Error</p>
				<br>
			</div>
			<div class="form-group">
				<label for="formatName">Format name</label>
				<input type="text" id="formatName" th:field="*{formatName}" class="form-control"/><br>
				<p th:if="${#fields.hasErrors('formatName')}" th:errors="*{formatName}">Error</p>
			</div>
			<input type="submit" value="Save" class="btn btn-success"/>
		</form>
	</div>
	
</body>
</html>