<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
 	<title>Black Moon Records</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet"> isplay=swap" rel="stylesheet"> 
</head>
<body>

	<!-- header -->
	<div th:insert="fragments/navbar :: navbar-fragment"></div>
	
	<!-- container -->
	<div class="container" style="margin-top: 4%;">
		<h1 class="lrg-header">Edit format</h1>
		<form th:object="${editFormat}" action="#" th:action="@{/editformat/{id}}" method="post" class="basic-text">
			<div class="form-group">
				<label for="id">Id</label>	<!-- ID! -->
				<input type="text" id="formatId" th:field="*{formatId}" class="form-control" readonly/>
				<p th:if="${#fields.hasErrors('formatId')}" th:errors="*{formatId}">Error</p>
				<br>
			</div>
			<div class="form-group">
				<label for="formatName">Format name</label>
				<input type="text" id="formatName" th:field="*{formatName}" class="form-control"/><br>
				<p th:if="${#fields.hasErrors('formatName')}" th:errors="*{formatName}">Error</p>
			</div>
			<input type="submit" value="Save" class="btn btn-success but-padding"/>
		</form>
	</div>
	
</body>
</html>