<!-- http://localhost:8080/recordlist -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> <!-- thymeleaf! -->
<head>
 	<title>Black Moon Records</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>

	<!-- header -->
	<div th:insert="fragments/navbar :: navbar-fragment"></div>
	
	<!-- container -->
	<div class="container th-text td-text">
		<h1 class="adm-user-header">My order</h1>
		<table class="table table-striped">
			<tr>
				<th>Record</th>
				<th>Artist</th>
				<th>Album</th>
				<th>Format</th>
				<th>Unit Price</th>
				<th>Quantity</th>
				<th>Total</th>
			</tr>
			<tr th:each="item : ${orderDetails}">
				<td><img th:src="${item.record.albumCover}" alt="album_cover" style="width:100%; max-width:100px;"></td>
				<td th:text="${item.record.artist}"></td>
				<td th:text="${item.record.album}"></td>
				<td th:text="${item.record.format.formatName}"></td>
				<td th:text="${#numbers.formatDecimal(item.record.price, 2, 'DEFAULT', 2, 'COMMA')} + ' €'"></td>
				<td th:text="${item.quantity}"></td>
				<td th:text="${#numbers.formatDecimal(item.totalCost, 2, 'DEFAULT', 2, 'COMMA')} + ' €'"></td>
			</tr>
		</table>	
		<h2 class="light-header">Total sum: <span th:text="${#numbers.formatDecimal(sum, 1, 'DEFAULT', 2, 'COMMA')} + ' €'" class="basic-header"></span></h2>
		<a th:href="@{/orderlist}" style="margin: 45px 20px 45px 0px;">
			<button class="btn btn-primary but-padding">Back</button>
		</a>
	</div>
	
</body>
</html>