<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> <!-- thymeleaf! -->
<head>
	<title>Record shop - Shopping cart</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	<!-- header -->
	<nav class="navbar navbar-inverse bg-dark fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand text-light" th:href="@{/recordlist}" style="font-size:25px;">Record store</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	    	<li class="nav-item">
	    		<a sec:authorize="isAuthenticated()" sec:authorizeaccess="hasAnyRole('USER', 'ADMIN')" th:href="@{/orderlist}" style="padding: 45px 0px 45px 0px;">
	    			<button class="btn btn-primary">My orders</button>
	    		</a>
	    		<a th:href="@{/shoppingcart}" style="padding: 45px 0px 45px 0px;">
	    			<button class="btn btn-primary">Shopping Cart</button>
	    		</a>
	    		<!-- Sign in / Sign out -->
	    		<form sec:authorize="isAuthenticated()" sec:authorizeaccess="hasAnyRole('USER', 'ADMIN')" th:action="@{/logout}" method="post" style="margin: 0; padding: 0; display: inline;">
		     		<span><input type="submit" value="Sign Out" class="btn btn-primary" /></span>
		     	</form>
		     	 <form sec:authorize="isAnonymous()" th:href="@{/login}" method="post" style="margin: 0; padding: 0; display: inline;">
		     		<span><input type="submit" value="Sign in" class="btn btn-primary" /></span>
		     	</form>
	    	</li>
	    </ul>
	  </div>
	</nav>

	<div class="container" style="margin: auto;">
		<div style="margin: auto; margin-top: 40%; width: 50%; text-align: center;">
			<h1>Thank you for your order.</h1>
			<p>We have received your purchase order and will send you a confirmation email shortly.</p>
			<a th:href="@{/recordlist}" >
				<button class="btn btn-primary" style="background-color: black; border:2px">Back to store</button>
			</a>
			<a th:href="@{/orderlist}" >
				<button class="btn btn-primary" style="background-color: black; border:2px">My orders</button>
			</a>
		</div>
	</div>
	
</body>