<!-- http://localhost:8080/recordlist -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> <!-- thymeleaf! -->
<head>
 	<title>Black Moon Records</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" href="css/styles.css" th:href="@{css/styles.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>

	<!-- header -->
	<div th:insert="fragments/navbar :: navbar-fragment"></div>
	
<!-- container -->
	<div class="container th-text td-text" >
		<h1 class="adm-user-header">My orders</h1>
		<table class="table table-striped">
			<tr>
				<th>Order Id</th>
				<th>Date</th>
				<th></th>
			</tr>
			<tr th:each="order : ${orders}">
				<td th:text="${order.orderId}"></td>
				<td th:text="${order.date}"></td>
				<td>
					<a th:href="@{/order/{id} (id=${order.orderId})}"><button class="btn btn-outline-info but-padding">Details</button></a>
				</td>
				<td>
					<a th:href="@{/deleteorder/{id} (id=${order.orderId})}" sec:authorize="hasAuthority('ADMIN')">
						<button class="btn btn-danger">Delete Order</button>
					</a>
				</td>
			</tr>
		</table>
		<a th:href="@{/recordlist}"><button class="btn btn-primary but-padding">Back</button></a> <!-- Minne linkittää? -->
	</div>
	
</body>
</html>

<!-- <a th:href="@{/editrecord/{id} (id=${record.recordId})}"><button class="btn btn-primary">Edit Record</button></a> -->