<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> <!-- thymeleaf! -->
<head>
 	<title>Black Moon Records</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" href="css/styles.css" th:href="@{css/styles.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>

	<!-- header -->
	<div th:insert="fragments/navbar :: navbar-fragment"></div>


	<div class="container container-center">
		<div class="text-div">
			<h1>Thank you for your order.</h1>
			<p>We have received your purchase order and will send you a confirmation email shortly.</p>
			<a th:href="@{/recordlist}" class="a-display">
				<button class="btn btn-primary but-padding">Back to store</button>
			</a>
			<a th:href="@{/orderlist}" class="a-display">
				<button class="btn btn-primary but-padding">My orders</button>
			</a>
		</div>
	</div>
	
</body>