<!-- http://localhost:8080/recordlist -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> <!-- thymeleaf! -->
<head>
 	<title>Black Moon Records</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" href="css/styles.css" th:href="@{css/styles.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>

	<!-- header -->
	<div th:insert="fragments/navbar :: navbar-fragment"></div>
	
	<!-- container -->
	<div class="container">
	  <div sec:authorize="hasAuthority('ADMIN')" class="add-content"> <!-- sec:authorize = admin only-->
		  <h1 sec:authorize="hasAuthority('ADMIN')" class="basic-header">Add a new record to the database:</h1>
		  <a th:href="@{/addrecord}" sec:authorize="hasAuthority('ADMIN')"><button class="btn btn-secondary but-admin">Add Record</button></a>
	  </div>
	  <div sec:authorize="hasAuthority('ADMIN')" class="add-content"> <!-- sec:authorize = admin only-->
		  <h1 sec:authorize="hasAuthority('ADMIN')" class="basic-header">Add a new format to the database:</h1>
		  <a th:href="@{/formatslist}" sec:authorize="hasAuthority('ADMIN')"><button class="btn btn-secondary but-admin">Add format</button></a>
	  </div>
	  <div class="row container-list-row" th:each="record : ${records}">
		<div class="col-sm-4">
			<img th:src="${record.albumCover}" alt="${record.album}" class="img-list">
		</div>
			<div class="col-sm-8">
		    	<h1 th:text="${record.artist}" class="basic-header text-margin"></h1> 
		   		<p class="light-header"><span th:text="${record.album}"></span> (<span th:text="${record.format.formatName}">()</span>)</p>
		   		<p class="light-text text-margin">Label: <span th:text="${record.label}" class="basic-text"></span></p>
		    	<p class="light-text">Released: <span th:text="${record.year}" class="basic-text"></span></p>
		   		<p class="basic-header"><span th:text="${#numbers.formatDecimal(record.price, 2, 'DEFAULT', 2, 'COMMA')} + ' €'"></span></p>
		   		<a th:href="@{/addcart/{id} (id=${record.recordId})}"><button class="btn btn-primary button-add basic-text">Add to Cart</button></a>
		   	    <!-- sec:authorize = admin only-->
		   		<a th:href="@{/editrecord/{id} (id=${record.recordId})}" sec:authorize="hasAuthority('ADMIN')"><button class="btn btn-outline-secondary but-admin">Edit Record</button></a>
		   		<a th:href="@{/deleterecord/{id} (id=${record.recordId})}" sec:authorize="hasAuthority('ADMIN')"><button class="btn btn-outline-danger but-admin">Delete Record</button></a>
		   		<br>
			 </div>
	  	</div>
	</div>
	
</body>
</html>

<!--
--------------------------
<p class="record-headers">Format: <span th:text="${record.format.formatName}" class="records-info"></span></p>

 -->