<!-- http://localhost:8080/shoppingcart -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> <!-- thymeleaf! -->
<head>
 	<title>Black Moon Records</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" href="css/styles.css" th:href="@{css/styles.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body class="scrollbar">

	<!-- header -->
	<div th:insert="fragments/navbar :: navbar-fragment"></div>

	<!-- container -->
	<div class="container" id="container-shopcart">
		<table class="table table-striped th-text td-text ">
			<tr>
				<th>Record</th>
				<th>Artist</th>
				<th>Album</th>
				<th>Format</th>
				<th>Unit Price</th>
				<th>Quantity</th>
				<th>Total</th>
				<th></th>
			</tr>
			<tr th:each="item : ${cartItems}">
				<td><img th:src="${item.record.albumCover}" alt="album_cover" class="image-thumb"></td>
				<td th:text="${item.record.artist}"></td>
				<td th:text="${item.record.album}"></td>
				<td th:text="${item.record.format.formatName}"></td>
				<td th:text="${#numbers.formatDecimal(item.record.price, 2, 'DEFAULT', 2, 'COMMA')} + ' €'"></td>
				<td>
					<a th:href="@{/plusone/{id} (id=${item.record.recordId})}"><button class="plus-and-minus"><i style='font-size:11px' class='fas'>&#xf067;</i></button></a>
					<span th:text="${item.quantity}" class="quantity-margin"></span>
					<a th:href="@{/minusone/{id} (id=${item.record.recordId})}"><button class="plus-and-minus"><i style='font-size:11px' class='fas'>&#xf068;</i></button></a>
				</td>
				<td th:text="${#numbers.formatDecimal(item.totalCost, 2, 'DEFAULT', 2, 'COMMA')} + ' €'" ></td>
				<td><a th:href="@{/deleteitem/{id} (id=${item.record.recordId})}"><button class="btn btn-outline-danger">Remove</button></a></td>
			</tr>
		</table>

		<h2 class="light-header">Total sum: <span th:text="${#numbers.formatDecimal(sum, 1, 'DEFAULT', 2, 'COMMA')} + ' €'" class="basic-header"></span></h2>
		<a th:href="@{/recordlist}" id="button-continue">
			<button class="btn btn-primary basic-text" id="continue-order-but">Continue shopping</button>
		</a>
		<a th:href="@{/saveshoppingcart}" id="button-order"> 
			<button class="btn btn-success basic-text" id="continue-order-but">Order</button>
		</a>
	</div>
	
</body>



